 
project:
  type: website
  title: "Cadre d'Innovation pour l'Architecture des Systèmes de l'Ère Quantique"
# ... (Reste de la configuration)

website:
  title: "stephane"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    




